
@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/static/OpenSans/OpenSans-Bold.ttf");

    font-weight: 700;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans/static/OpenSans/OpenSans-Regular.ttf");

    font-weight: 400;
}

@font-face {
    font-family: "Neucha";
    src: url("../assets/fonts/Neucha/Neucha-Regular.ttf");
}

:root {
    --background-main: url("../assets/images/background.png") center/cover no-repeat #b09a81;
    --color-primary: #fe8a02;
    --color-primary-dark: #42413c;

    --color-white: #fff;
    --color-white-translucent: #d7ccc0;

    --color-light: #f5f4f0;

    --color-dark: #2a2626;
    --color-dark-translucent: #908d8b;

    --color-brown: #b09a81;

    -color-blue-dark: #1085c5;
}

.color-text-primary {
    color: var(--color-primary);
}

.color-text-dark {
    color: var(--color-dark);
}

.color-text-brown {
    color: var(--color-brown);
}

.color-text-white {
    color: var(--color-white);
}

.color-text-whire-translucent {
    color: var(--color-white-translucent)
}

.color-text-dard-translicent {
    color: var(--color-dark-translucent)
}

.color-background-primary {
    background-color: var(--color-primary);
    z-index: 100;
}

.color-background-white {
    background-color: var(--color-white);
}

.color-background-brown {
    background-color: var(--color-brown);
}

.color-background-dark-translucent {
    background-color: var(--color-dark-translucent);
}

.color-background-primary-dark {
    background-color: var(--color-primary-dark);
    width: 100%;
}

.h1-f-size {
    font-size: 72px;
}

.h2-f-size {
    font-size: 60px;
}

.h3-f-size {
    font-size: 34px;
}

.h-line-heigth {
    line-height: 1.2em;
}

.m-0 {
    margin: 0;
}

.m-b-16 {
    margin: 0 0 16px 0;
}

.m-b-26 {
    margin-bottom: 26px;
}

.m-b-30 {
    margin: 0 0 30px 0;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-t-100 {
    margin: 100px 0 0 0;
}

.m-b-20 {
    margin: 0 0 20px 0;
}

.m-b-415 {
    margin-bottom: 415px;
}
.m-t-27 {
    margin-top: 27px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-100 {
    margin-top: 100px ;
}
.m-t-185 {
    margin-top: 183px;
}

.p-t-20 {
    padding-top: 20px;
}
.m-r-30px {
    margin-right: 30px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-l-50 {
    margin-left: 50px;
}

.m-l-122 {
    margin-left: 122px;
}

.m-r-50 {
    margin-right: 50px;
}

.p-l-10 {
    padding-left: 10px;
}

.h-72 {
    height: 72px;
}
body {
    margin: 0;
    width: 1440px;
    font: 16px/1.6em "Open Sans";
}


.structure-section {
    padding: 100px 0 100px 0;
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
}

.align-center {
    text-align: center;
}
.neucha-family {
    font-family: 'Neucha', cursive;
}


.pos-rel {
    position: relative;
}

.background-main::before {
    content: '';
    position: absolute;
    width: inherit;
    top: 0;
    bottom: 0;
    background: var(--background-main);
    opacity: 10%;
    z-index: 100;
}

.background-main2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1440px;
    height: 914px;
    background: var(--background-main);
    opacity: 20%;
    z-index: 100;
}

.background-brown::before {
    content: '';
    position: absolute;
    left: -165px;
    right: -165px;
    top: 0;
    bottom: 0;
    background-color: var(--color-brown);
    opacity: 100%;
    z-index: -5;
}

.background-primary::before {
    content: '';
    position: absolute;
    left: -165px;
    right: -165px;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary-dark);
    z-index: -1;
}

.img-first {
    position: absolute;
    top: 55px;
    right: -270px;
    height: 525px;
    z-index: -9;
}


 .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.w-50per {
    width: 555px;
}

.w-350 {
    width: 350px;
}

.btn {
    display: block;
    box-sizing: border-box;
    padding: 12px 24px;
    width: 148px;
    height: 49px;

    font-weight: 700;
    text-decoration: none;
    color: var(--color-white);
}

.video {
    position: absolute;
    top: 329px;
    left: 100px;
    z-index:100;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.transcription-card {
    margin: 0;
    font-size: 52px;
}

.number-card {
    margin: 0 0 40px 0;

    font-size: 64px;
    line-height: 1;
}

.card-item {
    flex: 1 1;
    padding: 24px;
    background-color: var(--color-light);
}

.flex-container-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.no-shrink {
    flex-shrink: 0;
}

.vert-align {
    vertical-align: bottom;
}

.level {
    z-index: 100;
} 

.input {
    box-sizing: border-box;

    height: 50px;
    width: 423px;
    padding: 15px;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
  
    white-space: nowrap;
}

.form {
    flex-grow: 1;
}

.btn-primary {
    height: 50px;
    width: 70px;
}